extends layout

block content
  
  div.ui.relaxed.celled.list
    each book in books 
      div.item
        div.header Title: #{book.title}
        div Author: #{book.author}

  | #{authors}
  p database status: #{dbStatus}